body,
html,
:root {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
}

body {
  --color-primary: #e95454;
  --color-primary-faded: rgba(233, 84, 84, 0.17);
  --rhythm: 1.25rem;

  display: grid;
  grid-template-columns: auto 1fr;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  line-height: var(--rhythm);
  color: #222;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  line-height: var(--rhythm);
  margin: 0 0 1.5rem;
}

#area {
  background: #f9f9f9;
  width: 100%;
  height: 100%;
  padding: var(--rhythm);
}
#area p {
  margin: 0;
}

input {
  font-size: 1rem;
  padding: 0.5rem 0.5rem;
  border-radius: 0.25rem;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
}
input:focus {
  border: 1px solid var(--color-primary);
  outline: none;
  box-shadow: 0 0 0 3px var(--color-primary-faded);
}

form {
  max-width: 20rem;
  margin: var(--rhythm);
}

.field {
  margin: 0 0 calc(var(--rhythm) / 4) 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

button {
  background: var(--color-primary);
  padding: 1rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.25rem;
  color: white;
  cursor: pointer;
}
button:active {
  box-shadow: 0 0 0 3px var(--color-primary-faded);
}
br {
  display: inline-block;
  height: calc(var(--rhythm) / 2);
  margin: 0;
}
